.top{
    display: flex;
    flex-direction: row;
    /* border-radius: 20%; */
    flex-wrap: wrap;
    background-color:#838482;
    justify-content:center;
    align-items: center;
    margin-bottom: 5px;
}
.top >h1{
    /* background-color: white; */
    font-family: Arial, Helvetica, sans-serif;
    /* color: white; */
    font-size: 30px;
    color: white;

    /* border: 2px  dashed; */
    /* border: 1px solid white; */
    /* border-radius: 40%; */
    /* border-left: 100px; */
    /* border-right: 100px; */
    /* padding-right: 80px; */
    /* padding-left:80px; */
}
.imagesection{
    background-color: whitesmoke;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: 5px;
    /* align-items: center; */
}
.personal{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}
.imagesection>img{
    /* padding-left: 5px; */
    border:1px dotted #616771;
    width: 300px;
    height:300px;
    border-radius: 45%;
    margin:15px;
}
#contact{
    color:#616771;
}
.contact{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow:column wrap ;
    padding: 10px;
    max-width: 300px;
    max-height: 900px;
    background-color: #EEEEEE;
    
}
.contact-inner{
    margin:10px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10%;
    background-color: ghostwhite;
}
#linkedin{
    max-width: 70px;
    max-height: 70px;
}
 #github{
    max-width: 100px;
    max-height:100px;
}
.accounts{
    display: flex;
    flex-flow: row,wrap;
    justify-content: center;
    align-items: center ;
}
.about{
    flex-flow: row wrap;
    display: flex;

}
.blog{
    display: flex;
    padding-right: 20px;
    padding-top: 30px;
    width: 1132px;
    /* align-content: stretch; */
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #EEEEEE;
    /* color: black; */
    /* background-color: whitesmoke; */
    flex-flow: row wrap;
    background-color: #838482;

}